
body {
	background: rgb(30, 30, 30);
	color: #fff;
}

.invisible {
	opacity: 0;
}

.smooth {
	transition: all ease-in-out 0.3s;
}


/* Bootstrap overwrites */
.accordion-body {
	padding: 0rem 1.5rem;
}

.form-control, .form-control:active, .form-control:focus {
	background: transparent;
	color: var(--bs-light);
}

/* Custom rules */

.button {
	cursor: pointer;
	display: inline-block;
	border: 2px solid transparent;
	border-radius: 10px;
	margin: 0 0.2rem;
}

.button:hover {
	border: 2px solid var(--bs-light);
}

.button:active {
	background: var(--bs-light);
}

#bookmark-s-toggle {
	top: 0;
	right: 0;
	height: 100%;
	width: 0.5rem;
	position: fixed;
}

#bookmark-s-toggle:hover {
	background: linear-gradient(to left, var(--bs-light), rgba(0, 0, 0, 0.0));
}

#bookmark-list {
	height: 100%;
	overflow: auto;
}

.list-appear {
	top: 0 !important;
}

#bookmark-list::-webkit-scrollbar {
	display: none;
}

.bookmark-folder {
	color: var(--bs-light);
}

.bookmark-folder .bookmark-title {
	cursor: pointer;
	border-bottom: 1px solid transparent;
}

.bookmark-folder .bookmark-title:hover {
	background: rgb(30, 30, 30);
	background: linear-gradient(rgba(30, 30, 30, 0), rgb(30, 30, 30));
	border-bottom: 1px solid var(--bs-light);
}

.bookmark-folder .bookmark {
	color: var(--bs-light);
	text-decoration: none;
}

.bookmark-folder .bookmark div {
	border-bottom: 1px solid transparent;
}

.bookmark-folder .bookmark div:hover {
	background: rgb(30, 30, 30);
	background: linear-gradient(rgba(30, 30, 30, 0), rgb(30, 30, 30));
	border-bottom: 1px solid var(--bs-light);
}

.d-list-appear {
	right: 0 !important;
}

#frame-s-toggle {
	top: 0;
	left: 0;
	height: 100%;
	width: 0.5rem;
	position: fixed;
}

#frame-s-toggle:hover {
	background: linear-gradient(to right, var(--bs-light), rgba(0, 0, 0, 0.0));
}

#bookmark-menu {
	top: 0;
	right: -50%;
	width: 50%;
	height: 100%;
	position: fixed;
}

#bookmark-menu::-webkit-scrollbar {
	display: none;
}

#bookmark-menu .d-link {
	border-bottom: 1px solid transparent;
}

#bookmark-menu .d-link:hover {
	background: rgb(30, 30, 30);
	background: linear-gradient(rgba(30, 30, 30, 0), rgb(30, 30, 30));
}

#bookmark-menu .d-link a {
	border-bottom: 1px solid transparent;
}

#bookmark-menu .d-link:hover a {
	border-bottom: 1px solid var(--bs-light);
}

#bookmark-menu a {
	color: var(--bs-light);
	text-decoration: none;
}

/* #bookmark-menu .d-link button:hover {
	color: var(--bs-light);
	background: var(--bs-secondary);
} */

#bookmark-menu .visited {
	opacity: 0.7;
}

#bookmark-menu .visited a::after {
	content: "- Visited";
}

#daily-routine {
	top: 40%;
	left: 5%;
	width: 21%;
	height: 50%;
	opacity: 0.8;
	overflow: auto;
	position: fixed;
	padding: 5rem 1rem;
	border: 2px solid var(--bs-light);
}

#site-frame {
	position: fixed;
	left: -100%;
}

#site-frame.appear {
	left: 0;
}

#site-frame.pause {
	pointer-events: none;
	opacity: 0.2;
}

#site-frame iframe {
	height: 80vh;
}